{% set searchRouteName = (searchRouteName is defined) ? searchRouteName : 'search_search' %}
{% set searchPlaceholder = (searchPlaceholder is defined) ? searchPlaceholder : 'Issue ID or Searchwords' %}
<div class="content-section content-section-smallest bg-dark">
    <div class="container">
        <form action="{{ path(searchRouteName) }}" method="get" class="form">
            <div class="input-group">
                <input type="text" name="query" placeholder="{{ searchPlaceholder }}" class="form-control" value="{{ (query is defined) ? query : '' }}">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing" type="checkbox" name="searchClosed" value="1" aria-label="Search in closed tickets, too" {{ (searchClosed is defined) ? 'checked="checked"' : '' }}>
                            <label class="custom-control-label" for="customControlAutosizing">Closed Tickets</label>
                        </div>
                    </span>
                </div>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-success"><i class="fal fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
