{% extends "base.html.twig" %}
{% block title %}TABC{% endblock %}
{% block head %}{% endblock %}
{% block body %}

    <div class="content-section bg-primary text-white">
        <div class="container">
            <img src="{{ asset('assets/banner.jpg') }}" class="img-fluid rounded">
        </div>
    </div>

    <div class="content-section bg-transparent">
        <div class="container">
            <h1>Ale to the King, Baby!</h1>
            <p>This site is used to track our (cross-faction) raids at <a href="https://turtle-wow.org/" target="_blank">Turtle WoW - a private World of Warcraft PvE-RP realm</a>.</p>
            <p>If you play on Turtle-WoW and would like to raid with us, get in touch with Gifted (Alliance).</p>
        </div>
    </div>

{% endblock %}
