{% extends "base.html.twig" %}
{% block title %}Privacy Policy{% endblock %}
{% block head %}{% endblock %}
{% block body %}

<div class="content-section bg-primary text-white">
    <div class="container">
        <h1>Privacy Policy</h1>
    </div>
</div>

<div class="content-section bg-transparent">
    <div class="container">
        <section>
            <header class="frame-header">
                <h2 class="element-header">1. An overview of data protection</h2>
                <h3 class="element-subheader">General information</h3>
            </header>
            <p>The following information will provide you with an easy to navigate overview of what will happen
                with your personal data when you visit our website. The term “personal data” comprises all data
                that can be used to personally identify you. For detailed information about the subject matter
                of data protection, please consult our Data Protection Declaration, which we have included
                beneath this copy.</p>
        </section>

        <section>
            <header class="frame-header"><h3 class="element-subheader ">
                    <span>Data recording on our website</span></h3></header>
            <p><strong>Who is the responsible party for the recording of data on this website (i.e. the
                    “controller”)?</strong><br> The data on this website is processed by the operator of the
                website, whose contact information is available under section “Information Required by Law” on
                this website.</p>
            <p><strong>How do we record your data?</strong></p>
            <p>We collect your data as a result of your sharing of your data with us. This may, for instance be
                information you enter into our contact form.<br> Our IT systems automatically record other data
                when you visit our website. This data comprises primarily technical information (e.g. web
                browser, operating system or time the site was accessed). This information is recorded
                automatically when you access our website.</p>
            <p><strong>What are the purposes we use your data for?</strong><br> A portion of the information is
                generated to guarantee the error free provision of the website. Other data may be used to
                analyse your user patterns.</p>
            <p><strong>What rights do you have as far as your information is concerned?</strong></p>
            <p>You have the right to receive information about the source, recipients and purposes of your
                archived personal data at any time without having to pay a fee for such disclosures. You also
                have the right to demand that your data are rectified, blocked or eradicated. Please do not
                hesitate to contact us at any time under the address disclosed in section “Information Required
                by Law” on this website if you have questions about this or any other data protection related
                issues. You also have the right to log a complaint with the competent supervising agency.</p>
            <p>Moreover, under certain circumstances, you have the right to demand the restriction of the
                processing of your personal data. For details, please consult the Data Protection Declaration
                under section “Right to Restriction of Data Processing.”</p>


            <header class="frame-header"><h3 class="element-subheader "><span>Analysis tools and tools provided by third parties</span>
                </h3></header>
            <p>There is a possibility that your browsing patterns will be statistically analysed when your visit
                our website. Such analyses are performed primarily with cookies and with what we refer to as
                analysis programmes. As a rule, the analyses of your browsing patterns are conducted
                anonymously; i.e. the browsing patterns cannot be traced back to you. You have the option to
                object to such analyses or you can prevent their performance by not using certain tools. For
                detailed information about this, please consult our Data Protection Declaration below.</p>
            <p>You do have the option to object to such analyses. We will brief you on the objection options in
                this Data Protection Declaration.</p>
        </section>

        <section>
            <header class="frame-header"><h3 class="element-subheader "><span>Right to log a complaint with the competent supervisory agency</span>
                </h3></header>
            <p>In the event of violations of the GDPR, data subjects are entitled to log a complaint
                with a supervisory agency, in particular in the member state where they usually maintain
                their domicile, place of work or at the place where the alleged violation occurred. The
                right to log a complaint is in effect regardless of any other administrative or court
                proceedings available as legal resources.</p></section>

        <section>
            <header class="frame-header"><h3 class="element-subheader "><span>Right to data portability</span>
                </h3></header>
            <p>You have the right to demand that we hand over any data we automatically process on the basis of
                your consent or in order to fulfil a contract be handed over to you or a third party in a
                commonly used, machine readable format. If you should demand the direct transfer of the data to
                another controller, this will be done only if it is technically feasible.</p></section>

        <section>
            <header class="frame-header"><h3 class="element-subheader "><span>SSL and/or TLS encryption</span>
                </h3></header>
            <p>For security reasons and to protect the transmission of confidential content, such as purchase
                orders or inquiries you submit to us as the website operator, this website uses either an SSL or
                a TLS encryption programme. You can recognise an encrypted connection by checking whether the
                address line of the browser switches from “http://” to “https://” and also by the appearance of
                the lock icon in the browser line.</p>
            <p>If the SSL or TLS encryption is activated, data you transmit to us cannot be read by third
                parties.</p></section>

        <section>
            <header class="frame-header"><h3 class="element-subheader "><span>Information about, blockage, rectification and eradication of data</span>
                </h3></header>
            <p>Within the scope of the applicable statutory provisions, you have the right to at any time demand
                information about your archived personal data, their source and recipients as well as the
                purpose of the processing of your data. You may also have a right to have your data rectified,
                blocked or eradicated. If you have questions about this subject matter or any other questions
                about personal data, please do not hesitate to contact us at any time at the address provided in
                section “Information Required by Law.”</p></section>

    </div>
</div>

    {% endblock %}
