{% extends 'base.html.twig' %}

{% block title %}{% trans %}Character{% endtrans %}{% endblock %}

{% block body %}
    <div class="content-section bg-transparent">
        <div class="container">
            <h3>{% trans %}Character{% endtrans %}</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
