{% extends 'base.html.twig' %}

{% block title %}Character Overview{% endblock %}

{% block body %}
    <div class="content-section bg-primary text-white">
        <div class="container">
            <h1>Raid Roster</h1>
        </div>
    </div>
    <div class="content-section bg-transparent">
        <div class="container">
            <div class="row">
                {% for classId, players in roster %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4>
                                <img class="rounded" src="/assets/icons/class_{{ classId }}.png" width="44" height="44" />
                            {% if classId == 1 %}
                                Warriors
                            {% elseif classId == 2 %}
                                Priests
                            {% elseif classId == 3 %}
                                Mages
                            {% elseif classId == 4 %}
                                Warlocks
                            {% elseif classId == 5 %}
                                Rogues
                            {% elseif classId == 6 %}
                                Druids
                            {% elseif classId == 7 %}
                                Hunters
                            {% elseif classId == 8 %}
                                Shamans
                            {% elseif classId == 9 %}
                                Paladins
                            {% else %}
                                Unspecified
                            {% endif %}
                            </h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for player in players %}
                                <li class="list-group-item">
                                    {% if player.spec == 1 %}
                                        <i class="fa fa-fw fa-shield-alt"></i>
                                    {% elseif player.spec == 2 %}
                                        <i class="fa fa-fw fa-band-aid"></i>
                                    {% elseif player.spec == 3 %}
                                        <i class="fa fa-fw fa-skull-crossbones"></i>
                                    {% endif %}
                                    <a href="{{ path('character', {'charId': player.id}) }}">{{ player.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
