{% extends "base.html.twig" %}
{% block title %}Welcome{% endblock %}
{% block head %}{% endblock %}
{% block body %}

    <div class="content-section bg-transparent">
        <div class="container">
            <h1>Askeria - Raiding Guild on Razorfen (EU)</h1>
            <p>Hier kommen die BiS Listen und die Raid-Loots hin</p>
        </div>
    </div>

{% endblock %}
