{% extends 'base.html.twig' %}

{% block title %}Character Overview{% endblock %}

{% block body %}
    <div class="content-section bg-transparent">
        <div class="container">
            <h3>Loot requirement</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
