// Variables
@import 'variables';

// Include Dependencies
@import '~bootstrap/scss/bootstrap';

// Mixins
@import '../../css/mixins/function';
@import '../../css/mixins/svg';

// Modules
@import '../../css/module/page';
@import '../../css/module/header';
@import '../../css/module/text';
@import '../../css/module/text';
@import '../../css/module/content';
@import '../../css/module/navbar';
@import '../../css/module/alert';
@import '../../css/module/form';
@import '../../css/module/btn';
@import "../../css/module/section";
@import "../../css/module/bislist";
@import "../../css/module/classes";
@import "~selectize/dist/css/selectize.css";
@import "~selectize/dist/css/selectize.bootstrap3.css";


.autocomplete-suggestions { border: 1px solid #999; background: $gray-800; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: $gray-700; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000;}

.class-spec {
  font-size: 29px;
  color: $secondary;
}

.card {
  margin-top: 1em;
}

.calendar-raid-40 {
  background-image: url("/assets/backgrounds/overlay-40s.png") !important;
  background-size: cover !important;
}

.calendar-raid-onyxia {
  background-image: url("/assets/backgrounds/overlay-ony.png") !important;
  background-size: cover !important;
}

.calendar-raid-zg {
  background-image: url("/assets/backgrounds/overlay-zg.png") !important;
  background-size: cover !important;
}

a.fc-event {
  margin-left: 45px;
  background-color: #c24147;
  border-color: #913136;
}
.fc-unthemed td.fc-today {
  background: none !important;
  background-color: #000 !important;
}

td.fc-day-top.fc-tue.fc-today {
  background: none !important;
}

.fc-bgevent {
  background-color: transparent !important;
}

.tradeskill {
  position: relative;
}

.tradeskill-image img {
  width: 24px;
}

.tradeskill-progress {
  position: absolute;
  bottom: 0;
  width: 24px;
}

a.link-1 {
  color: $color-warrior;
}

a.link-2 {
  color: $color-priest;
}

a.link-3 {
  color: $color-mage;
}

a.link-4 {
  color: $color-warlock;
}

a.link-5 {
  color: $color-rogue;
}

a.link-6 {
  color: $color-druid;
}

a.link-7 {
  color: $color-hunter;
}

a.link-9 {
  color: $color-paladin;
}

tr.bg-phase-1 {
  background-color: darken($color-priest, 90);
}
tr.bg-phase-2 {
  background-color: darken($color-priest, 87.5);
}
tr.bg-phase-3 {
  background-color: darken($color-priest, 85);
}
tr.bg-phase-4 {
  background-color: darken($color-priest, 82.5);
}
tr.bg-phase-5 {
  background-color: darken($color-priest, 80);
}
tr.bg-phase-6 {
  background-color: darken($color-priest, 77.5);
}
tr.bg-main {
  background-color: darken($primary, 20);
}

tr.bg-twink {
  background-color: darken($success, 35);
}


.bank {

  .card {
    flex-basis: 30% !important;
    margin-right: 0 !important;
    border: 1px solid grey;
    margin-bottom: 10px !important;
    background-color: $gray-900 !important;
  }

  .card-body {
    padding: 3px !important;
  }

  h5.card-title {
    margin-bottom: 0 !important;
  }

  h2 {
    margin-bottom: 5px;
  }


  .guildbank-category-block {
    display: flex;
    flex-wrap: wrap;
  }

  .guildbank-item {
    display: flex;
    height: 48px;
    width: 48px;
    border: 2px solid;
    margin: 5px;
    position: relative;
    border-radius: 8px;

    .q0 {
      border-color: #9D9D9D;
    }

    .q1 {
      border-color: #FFFFFF;
    }

    .q2 {
      border-color: #1EFF00;
    }

    .q3 {
      border-color: #0070FF;
    }

    .q4 {
      border-color: #a335ee;
    }
  }

  .guildbank-item-amount {
    position: absolute;
    z-index: 100;
    line-height: 8px;
    pointer-events: none;
    right: 0;
    bottom: 0;
    background: red;
    padding: 4px 2px 2px 4px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 12px;
    color: #fff;
  }

  .guildbank-item-level {
    position: absolute;
    z-index: 100;
    left: 0;
    line-height: 12px;
    pointer-events: none;
    top: 0;
    background-color: black;
    padding: 3px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    font-size: 12px;
  }

  .guildbank-item-icon {
    width: 44px;
    padding: 2px 2px 2px 2px;
  }

  .expander {
    display: none;
  }

  .expander:target {
    display: table-row;
  }
}