{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}{% trans %}Need by Item{% endtrans %}{% endblock %}

{% block body %}
    <div class="content-section bg-primary text-white">
        <div class="container">
            <h1>{% trans %}Most Wanted Items{% endtrans %}</h1>
        </div>
    </div>
    <div class="content-section bg-transparent">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#" data-wowhead="item={{ item.id }}&amp;domain=classic" data-wh-icon-size="large"> [{{ item.name }}]</a>
                </div>
                <div class="col-sm-6">
                    <ul class="list-group">
                        <li class="list-group-item active">{% trans %}Players still needing this item{% endtrans %}</li>
                        {% for bisEntry in chars %}
                            <li class="list-group-item">
                                {% if bisEntry.playerCharacter.spec == 1 %}
                                    <i class="fa fa-fw fa-shield-alt"></i>
                                {% elseif bisEntry.playerCharacter.spec == 2 %}
                                    <i class="fa fa-fw fa-band-aid"></i>
                                {% elseif bisEntry.playerCharacter.spec == 3 %}
                                    <i class="fa fa-fw fa-skull-crossbones"></i>
                                {% endif %}
                                {{ bisEntry.playerCharacter.name }}<br><small>{{ raceUtility.raceName(bisEntry.playerCharacter.race) }}</small></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
