{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}Need by Item{% endblock %}

{% block body %}
    <div class="content-section bg-primary text-white">
        <div class="container">
            <h1>Most Wanted Items</h1>
        </div>
    </div>
    <div class="content-section bg-transparent">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#" data-wowhead="item={{ item.id }}&amp;domain=classic" data-wh-icon-size="large"> [{{ item.name }}]</a>
                </div>
                <div class="col-sm-6">
                    <ul class="list-group">
                        <li class="list-group-item active">Players still needing this item</li>
                        {% for bisEntry in chars %}
                            <li class="list-group-item">{{ bisEntry.playerCharacter.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
