{% extends 'base.html.twig' %}

{% block title %}Raid Overview{% endblock %}

{% block body %}
<div class="content-section bg-transparent">
    <div class="container">
    {% for raid in raids %}
            <p><a href="{{ path('raid_show', {'raidId': raid.id}) }}">{{ raid.note }}</a></p>
    {% endfor %}
    </div>
</div>
{% endblock %}
