{% extends 'base.html.twig' %}

{% block title %}Show Raid Details!{% endblock %}

{% block body %}
    <div class="content-section bg-transparent">
        <div class="container">
        <ul>
            <li><b>Loots</b></li>
            {% for item in raid.loots %}
                <li>{{ item.item.name }} > {{ item.player.name }}</li>
            {% endfor %}
        </ul>
        <ul>
            <li><b>Attendees</b></li>
            {% for attendance in raid.attendances %}
                <li>{{ attendance.player.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
