.bis-list {
  display: flex;
}

.bis-list-icon {
  flex-grow: 3;
}

.bis-list-table {

}

.bis-list-table th {
  text-align: center;
  background-color: white;
}

.bis-list-icon-hasitem {
  border: 2px solid lime;
  height: 31px;
  width: 30px;
}
.bis-list-icon-missesitem {
  border: 2px solid red;
  height: 30px;
  width: 30px;
}
.bis-list-icon-blank {
  border: 2px solid $gray-200;
  background-color: $gray-200;
  height: 30px;
  width: 30px;
}

.bis-list-odd {
  background-color: $gray-300;
}

.bis-list-name {
  padding-right: 10px;
  line-height: 18px;
}
