.bis-list {
  display: flex;
}

.bis-list-icon {
  flex-grow: 3;
}

.bis-list-table {

}

.bis-list-table th {
  text-align: center;
  background-color: $gray-800;
}

.iconsmall del, .iconmedium del {
  background: none !important;
}

.iconsmall ins {
  top: -1px !important;
  left: 0 !important;
}

.iconmedium ins {
  top: 0 !important;
  left: 0 !important;
}

.bis-list-icon {
  border: 2px dotted $gray-500;
  display: block;
  overflow: hidden;
  &.bis-icon-small {
    height: 22px;
    width: 22px;
  }
  &.bis-icon-medium {
    height: 40px;
    width: 40px;
  }
  &.hasitem {
    border-color: lime;
    border-style: solid;
  }

  &.missesitem {
    border-color: #ba0000;
    border-style: solid;
  }
}

.bis-list-icon.missesitem ins {
  display: none;
}

.bis-list-icon.missesitem .low-contrast-icon {
  position: relative;
  top: -32px;
}

.bis-list-icon.missesitem.bis-icon-medium .low-contrast-icon {
  position: relative;
  top: -44px;
}

.bis-list-odd {
  background-color: rgba(255, 255, 255, 0.1);
}

.bis-list-name {
  padding-right: 10px;
  line-height: 18px;
}
