{% if value == 1 %}
    <span class="text-success"><i class="fa fa-fw fa-chevron-circle-up"></i>&nbsp;high</span>
{% elseif value == 2 %}
    <span class="text-warning"><i class="fa fa-fw fa-circle"></i>&nbsp;medium</span>
{% elseif value == 3 %}
    <span class="text-danger"><i class="fa fa-fw fa-chevron-circle-down"></i>&nbsp;low</span>
{% endif %}