{% extends 'base.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}

{% block title %}Guild Controller{% endblock %}

{% block body %}
    <div class="content-section bg-transparent">
        <div class="container">
            <h1>Upload guild roster</h1>
            <form action="{{ path('guild_upload') }}" method="post">
                <div class="form-group">
                    <label for="dkpstring">Enter Guild String here </label>
                    <textarea id="dkpstring" name="guilddata" class="form-control" cols="40" rows="15"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary start">
                        <span class="btn-icon">
                            <i class="fa fa-upload"></i>
                        </span>
                        <span class="btn-text">Start upload</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
